/*  메일 jsp css  */
/*  메일 전체 틀  */
.text {
    margin-top: 6%;
    width: 77%;
    height: 750px;
    position: relative;
    display: block;

}

.save-part {
    margin-top: 6%;
    width: 77%;
    height: 750px;
    position: relative;
    display: block;

}

.detail-part{
    margin-top: 10%;
    margin-left: 300px;
    width: 77%;
    height: 750px;
    position: relative;
    display: block;

}
.modify-part{
    margin-top: 6%;
    width: 77%;
    height: 750px;
    position: relative;
    display: block;

}