*{
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    box-sizing: border-box;
    color: #000;
}

.confirm-page-wrapper {
    width: 800px;
    margin: 10px auto;
}

.confirm-page-wrapper .confirm-titleline {
    display: flex;
    margin-bottom: 30px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #000; */
}

.confirm-page-wrapper h1 {
    display: block;
    font-weight: 700;
    font-size: 20px;
    width: fit-content;
    margin: 0;
    margin-right: 15px;
}

.confirm-page-wrapper .rq-confirm {
    display: block;
    border: 1px solid gray;
    background: #e6e6e6;
    padding: 5px;
}

.confirm-page-wrapper .confirm-outer-container h2 {
    margin: 5px 0;
}

.confirm-box {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    /* border: 1px solid #000; */
    height: 250px;
    overflow: auto;
    margin-bottom: 30px;
}

.confirm-box h2 {
    text-indent: 5px;
}

.confirm-box table {
    /* background: rgb(236, 236, 236); */
    /* border: 1px solid gray; */
    border-collapse: collapse;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.confirm-box table th {
    /* width: fit-content; */
    padding: 5px;
    background: #e6e6e6;
    /* border: 1px solid #000; */
}

.confirm-box table tr {
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.confirm-box table td {
    /* border: 1px solid #000; */
    padding: 5px;
}

.confirm-box table .col1 {
    margin: 0;
    width: 10px;
}
.confirm-box table th.col2 {
    width: 250px;
}

.confirm-box table td.col2 {
    width: 250px;
    /* border: 1px solid #000; */
    text-align: left;
    text-indent: 10px;
}

.confirm-box table .col3 {
    width: 75px;
    /* border: 1px solid #000; */
}

.confirm-box table .col4 {
    width: 85px;
}

.confirm-box table .col5 {
    width: 125px;
}

.confirm-box table .col6 {
    width: 80px;
}

.confirm-box table .button {
    height: 15px;
    width: 15px;
    margin: 0 auto;
    border: 1px solid gray;
    cursor: pointer;
}

.confirm-box #waiting-table .col7 {
    width: 60px;
}

.confirm-box #confirmed-table .col7 {
    width: 120px;
}

.confirm-box #rejected-table .col7 {
    width: 120px;
}