*{
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    box-sizing: border-box;
    color: #000;
}
.forscroll {
    width: 100%;
    /*overflow-y: scroll;*/
}

/*.forscroll::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

.confirm-page-wrapper {
    width: 990px;
    margin: 0 auto;
}

.confirm-page-wrapper .confirm-titleline {
    display: flex;
    margin-bottom: 30px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #000; */
}

.confirm-page-wrapper .confirm-titleline .confirm-menu-tab{
    cursor: pointer;
}

.confirm-page-wrapper h1 {
    display: block;
    font-weight: 700;
    font-size: 20px;
    width: fit-content;
    margin: 0;
    margin-right: 15px;
}

.confirm-page-wrapper .rq-confirm {
    display: block;
    border: 1px solid gray;
    background: #e6e6e6;
    padding: 5px;
}

.confirm-page-wrapper .confirm-outer-container h2 {
    margin: 0;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    width: fit-content;
}

.confirm-page-wrapper .confirm-outer-container .confirm-title {
    display: flex;
    justify-content: space-between;
}

.confirm-page-wrapper .confirm-outer-container .search {
    display: flex;
    margin-top: 17px;
    margin-right: 8px;
}

.confirm-page-wrapper .confirm-outer-container .search h3 {
    font-size: 15px;
    margin-right: 5px;
    margin-top: 3px;
}

.confirm-page-wrapper .confirm-outer-container .search input {
    height: 20px;

}

.confirm-box {
    /*border-top: 2px solid gray;*/
    /*border-bottom: 2px solid gray;*/
    width: 990px;
    border: 1px solid #000;
    height: 200px;
    overflow-y: scroll;
    margin: 0;
    font-size: 17px;

}

.confirm-box::-webkit-scrollbar {
    display: none;
}

.confirm-outer-container span.new {
    font-size: 13px;
    color: red;
    margin-left: 5px;
}

.confirm-box .confirm-table {
    position: relative;
    /* background: rgb(236, 236, 236); */
    /* border: 1px solid gray; */
}

.confirm-box #waiting-table {
    /*border: 1px solid blue;*/
}

.confirm-box .confirm-table li {
    margin: 0;
    /* width: fit-content; */
    /*padding: 5px;*/
    /*background: #e6e6e6;*/
    /* border: 1px solid #000; */
}

.confirm-box .confirm-table .confirm-tr {
    display: flex;
    text-align: center;
    border: none;

    /*border-top: 1px solid gray;*/
    /*border-bottom: 1px solid gray;*/
}

.confirm-box .confirm-table .header-bar {
    position: fixed;
    z-index: 9999;
    border-bottom: 1px solid gray;
    /*border: 1px solid red;*/
}

.confirm-box .confirm-table .title-line {
    background: #e6e6e6;
    height: 30px;
}

.inner-list-container {
    transform: translateY(30px);
    width: 990px;
}

.confirm-box .confirm-table li {
    /* border: 1px solid #000; */
    text-align: center;
    border: none;
    padding: 5px;
}

.confirm-box .confirm-table .col1 {
    margin: 0;
    width: 40px;
}

.confirm-box .confirm-table .col2 {
    width: 300px;
    /* border: 1px solid #000; */
    text-align: left;
    /*text-indent: 10px;*/
}

.confirm-box .confirm-table .col3 {
    width: 100px;
    /* border: 1px solid #000; */
}

.confirm-box .confirm-table .col4 {
    width: 130px;
}

.confirm-box .confirm-table .col5 {
    width: 160px;
}

.confirm-box .confirm-table .col6 {
    width: 100px;
}

.confirm-box .confirm-table .button {
    height: 15px;
    width: 15px;
    margin: 0 auto;
    margin-top: 2px;
    border: 1px solid gray;
    cursor: pointer;
}

.confirm-box #waiting-table .col7 {
    width: 80px;
}

.confirm-box #confirmed-table .col7 {
    width: 160px;
}

.confirm-box #rejected-table .col7 {
    width: 160px;
}

.confirm-box #waiting-table .col6 {
    color: dodgerblue;
}

.confirm-box #waiting-table .title-line.col6 {
    color: black;
}

.confirm-box #confirmed-table .col6 {
    color: green;
}

.confirm-box #confirmed-table .title-line.col6 {
    color: black;
}

.confirm-box #rejected-table .col6 {
    color: red;
}

.confirm-box #rejected-table .title-line.col6 {
    color: black;
}