* {
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    box-sizing: border-box;
    color: #000;
}

.rqform-container {
    width: 800px;
    margin: 10px auto;
}

.rqform-container h1 {
    /* border: 1px solid #000; */
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 7px 0;
}

.rqform-container .rqform-header {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rqform-container .rqform-header .section {
    display: flex;
    width: 400px;
    justify-content: space-between;
    /* border: 1px solid #000; */
}

.rqform-container .rqform-header .section:nth-child(-n + 2) {
    border-bottom: 1px solid gray;
}

.rqform-container .rqform-header .section div:nth-child(2n + 1) {
    width: 150px;
    text-align: right;
    padding: 5px 10px;
    background: rgb(233, 233, 233);
    /* border: 1px solid #000; */
}

.rqform-container .rqform-header .section div:nth-child(2n) {
    width: 250px;
    text-align: left;
    padding: 5px 10px;
}

.rqform-content-wrap {
    margin: 20px auto;
}

.rqform-content-wrap .rqform-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rqform-content-wrap .rqform-title div:first-child {
    width: 150px;
    border: 1px solid #000;
}

.rqform-content-wrap .rqform-title div:last-child {
    width: 650px;
}

.rqform-content-wrap .fqform-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}