*{
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    box-sizing: border-box;
}

.confirm-page-wrapper {
    /* border: 1px solid #000; */
    width: 1000px;
    margin: 10px auto;
    
}

.confirm-box {
    margin-top: 50px;
    border: 1px solid #000;
    height: 250px;
    overflow: auto;
}

.confirm-box table {
    background: rgb(236, 236, 236);
    border: 1px solid #000;
    border-collapse: collapse;
}

.confirm-box table th {
    /* width: fit-content; */
    padding: 5px;
    border: 1px solid #000;
}

.confirm-box table tr {
    text-align: center;
    border: 1px solid #000;
}

.confirm-box table td {
    border: 1px solid #000;
}

.confirm-box table .col1 {
    margin: 0;
    width: 10px;
}
.confirm-box table th.col2 {
    width: 400px;
}

.confirm-box table td.col2 {
    width: 400px;
    border: 1px solid #000;
    text-align: left;
    text-indent: 10px;
}

.confirm-box table .col3 {
    width: 80px;
    border: 1px solid #000;
}

.confirm-box table .col4 {
    width: 130px;
}

.confirm-box table .col5 {
    width: 150px;
}

.confirm-box table .col5 {
    width: 150px;
}