


/*==== BODY BEGIN ===== */

/*  LEFT NAV START  */
/*  SECTION-LEFT-BODY BEGIN  */
/* 왼쪽 사원 정보란 width */
.section-left-body #left-body{
    width: 20%;
    height: 1080px;
}

.section-left-body .left-fix .line{
    width: 100%;
    height: 100%;
    position: fixed;

}

.section-left-body .left-fix .line .information-box{
    margin-top: 8%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    border-right: 1px solid rgba(183, 183, 183, 0.35);
}
.section-left-body .left-fix .line .information-box ul{

}


.section-left-body .left-fix .line ul li {
    margin: 15px

}

.section-left-body .left-fix .line .information-box #profile #photo {
    width: 170px;
    height: 200px;
    border: 1px solid rgba(198, 198, 199, 0.8);

}
.section-left-body .left-fix .line.information-box #information{
    font-size:1em;
}

.section-left-body .left-fix .line.information-box #information button{
    margin-top: 10px;
    width: 80px;
}

/* SECTION CALENDAR BEGIN*/
/*.calendar {*/

/*}*/
/*td {*/
/*    border: 1px solid black;*/
/*    padding: 5px;*/
/*    text-align: center;*/
/*}*/
/*.today {*/
/*    background-color: lightblue;*/
/*}*/
