/*==== HEADER BEGIN ===== */

/* COMMON ADD */
.common_wrap {
    background: rgba(198, 198, 199, 0.15);
    width: 100%;
}

/*  SECTION-TOP BEGIN  */
.section-header{
    height: 50px;
}
 .head {
    line-height: 20%;
    padding: 20px 50px;
}
.head .logo-img img {
    height: 50px;
    width: 100px;

}

.section-header .head ul {
    display: flex;
    justify-content: space-between;
}

.section-header .head li {
    display: flex;
}

/*  SECTION-TOP END  */

/*==== HEADER END ===== */