/*  form 겉 라인  */

/*    */
.wrapper{
    border: 4px solid rgba(190, 193, 194, 0.49);
    border-right: 5px solid rgba(190, 193, 194, 0.89);
    border-bottom: 5px solid rgba(190, 193, 194, 0.49);
    width: 40%;
    padding: 10px;
    margin: 10% auto;
}
.container img {
    width: 100px;
    height: 100px;
}

form {
    border: 3px solid #f1f1f1;
}
h1{
    font-size: 1.5rem;
    padding-bottom: 10px;
    text-align: center;
}
b{
    font-size: 0.8rem;
    padding-left: 10px;
}
#login-button{
    font-weight: 800;
}

/*  INPUT 태그 크기 조정*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
}

/* 버튼 스타일 */
button {
    background-color: rgba(190, 193, 194, 0.49);
    color: #434374;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
}

/* 버튼 호버 효과 */
button:hover {
    opacity: 0.8;
}


/* container에 패딩 추가 */
.container {
    padding: 16px;
}

/*  비밀번호 잊었을때  */
span.pwd {
    float: right;
    padding-top: 16px;
}
#forgot-pwd p{
    text-align: center;
}


