/*  메일 jsp css  */
/*  메일 전체 틀  */
.section-mail {
    /* margin-top: 6%; */
    position: relative;
    display: block;
    width: 100%;

}
/*  전체틀 안에 큰 라인  */
.section-mail #mail-wrapper {
    border: 1px solid rgba(198, 198, 199, 0.65);
    width: 100%;
    height: 90%;
}

/*  메일 정렬 태그 스타일  */
.section-mail #mail-wrapper .mail-sort {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

/*  메일 정렬 태그 폰트  */
.section-mail #mail-wrapper .mail-detail-box{
    /*border: 2px solid black;*/
    font-size: 1.0rem;
    margin-top: 10px;
    width: 100%;
    height: 80%;
}

.section-mail #mail-wrapper .mail-detail-box .mail-header-title{
    width: 100%;
}
.section-mail #mail-wrapper .mail-detail-box .mail-header-title .headerbox{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    height: 30px;
    display: flex;
    font-weight: 700;
    border-top: 1px solid #000;
}
.section-mail #mail-wrapper .mail-detail-box .mail-header-title .headerbox div{
   width: 10%;
   line-height: 30px;
}
.section-mail #mail-wrapper .mail-detail-box .mail-header-title .headerbox #title{
    width: 100%;
    text-align: center;
}

.section-mail #mail-wrapper .mail-detail-box .sender{
    width: 100%;
    display: flex;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #000;
}
.section-mail #mail-wrapper .mail-detail-box .sender div{
    width: 20%;
    border-right: 1px solid #000;
    display: flex;
}
.section-mail #mail-wrapper .mail-detail-box .sender .senderno .flex-container{
    width: 50%;
}

.section-mail #mail-wrapper .mail-detail-box .receiver{
    display: flex;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #000;
    width: 100%;
}

.section-mail #mail-wrapper .mail-detail-box .receiver div{
    border-right: 1px solid #000;
    display: flex;
}


.section-mail #mail-wrapper .mail-detail-box .receiver .receiverno{
    display: flex;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #000;
    width: 14%;
}
.section-mail #mail-wrapper .mail-detail-box .receiver .receiverno .inputreceiverno{
    width: 50%;
}
.section-mail #mail-wrapper .mail-detail-box .receiver .receiveremail{
    width: 20%;
}
.section-mail #mail-wrapper .mail-detail-box .receiver .receivername{
    width: 13%;
}
.section-mail #mail-wrapper .mail-detail-box .receiver .receiverpos{
    width: 13%;
}
.section-mail #mail-wrapper .mail-detail-box .receiver .receiverdept{
    width: 15%;
}

.section-mail #mail-wrapper .mail-detail-box .receiver .search-form{
    width: 35%;
}
.section-mail #mail-wrapper .mail-detail-box .receiver .search-form input{
    width: 15%;
}
.section-mail #mail-wrapper .mail-detail-box .receiver .search-form select{
    width: 75%;
}
.section-mail #mail-wrapper .mail-detail-box .receiver .search-form .searchbutton{
    font-size: 0.5em;
    width: 10%;
    line-height: 40px;
}







.ck-editor__editable { height: 414px; }











