/*  메일 jsp css  */
/*  메일 전체 틀  */
.section-mail {
    /* margin-top: 6%; */
    position: relative;
    display: block;
    width: 100%;

}
/*  전체틀 안에 큰 라인  */
.section-mail #mail-wrapper {
    border: 1px solid rgba(198, 198, 199, 0.65);
    width: 100%;
    height: 90%;
}

/*  메일 정렬 태그 스타일  */
.section-mail #mail-wrapper .mail-sort {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

/*  메일 정렬 태그 폰트  */
.section-mail #mail-wrapper .mail-detail-box{
    /*border: 2px solid black;*/
    font-size: 1.0rem;
    margin-top: 10px;
    width: 100%;
    height: 100%;
}
.section-mail #mail-wrapper .mail-detail-box .mail-header-main{
    display: flex;
    
}
.section-mail #mail-wrapper .mail-detail-box .mail-header-main .headerbox{
    /* background: orange; */
    width: 50%;
    font-weight: 700;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid #000;
    
}

.section-mail #mail-wrapper .mail-detail-box .mail-main .backtobutton{
    margin: 0 auto;
    margin-top: 15px;
    width: 200px;
}

.section-mail #mail-wrapper .mail-detail-box .sender{
    display: flex;
    margin-bottom: 15px;
    text-align: center;
    flex-grow: 1;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;

}
.section-mail #mail-wrapper .mail-detail-box .receiver{
    display: flex;
    margin-bottom: 15px;
    text-align: center;
    flex-grow: 1;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
}

.section-mail #mail-wrapper .mail-detail-box .sender p{
    font-size: 0.9em;
    font-weight: 700;
    margin-bottom: 15px;
    justify-items: auto;
}
.section-mail #mail-wrapper .mail-detail-box .sender p:nth-child(2){
    display: none;
}
.section-mail #mail-wrapper .mail-detail-box .sender p:nth-child(3){
    display: none;
}
.section-mail #mail-wrapper .mail-detail-box .sender p:nth-child(4){
    display: none;
}

.section-mail #mail-wrapper .mail-detail-box .receiver p{
    text-align: center;
    font-size: 0.9em;
    font-weight: 700;
    justify-items: auto;
}

.section-mail #mail-wrapper .mail-detail-box .mail-main{
    width: 100%;
    height: 80%;
    padding: 15px;
    background-color:  rgba(198, 198, 199, 0.65);

}
.section-mail #mail-wrapper .mail-detail-box .mail-main .textarea{
    width: 90%;
    height: 90%;
    padding: 15px;
    margin: 0 auto; 
    background: #fff;
}





