<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/confirmlist.css">
</head>

<body>
    <div class="confirm-page-wrapper">
        <div class="confirm-titleline">
        <h1>결재문서함</h1> <a class = "rq-confirm" href="/rq-form">문서 작성하기</a></div>
        <div class="confirm-outer-container">
            <h2>&lt;결재대기문서&gt;</h2>
            <div class="confirm-box confirm-waiting-list">
                <table id = "waiting-table">
                    <th class = "col1">N</th><th class = "col2">문서제목</th><th class = "col3">기안자</th><th class = "col4">기안부서</th><th class = "col5">기안일</th><th class = "col6">승인대기</th><th class = "col7">수정</th><th class = "col7">삭제</th>
                    <tr class = "waiting-list">
                        <td class = "col1">3</td><td class = "col2">[제목] 테스트 결재 요청 3</td>
                        <td class = "col3">테스트2</td>
                        <td class = "col4">IT</td>              
                        <td class = "col5">2023.05.12 20:18	</td>
                        <td class = "col6">승인대기</td>
                        <td class = "col7"><button id = "modify"> </button></td>
                        <td class = "col8"><button id = "remove"> </button></td></tr>
                </table>
            </div>
            <h2>&lt;결재완료문서&gt;</h2>
            <div class="confirm-box confirmed-list">
                <table id = "comfirmed-table">
                    <th>NO</th><th>문서제목</th><th>기안자</th><th>기안부서</th><th>기안일</th><th>승인여부</th><th>승인일자</th>
                </table>
            </div>
            <h2>&lt;반려문서&gt;</h2>
            <div class="confirm-box rejected-list">
                <table id = "rejected-teble">
                    <th>NO</th><th>문서제목</th><th>기안자</th><th>기안부서</th><th>기안일</th><th>승인여부</th><th>반려일자</th>
                </table>
            </div>
        </div>
    </div>

</body>

</html>