<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SAMJO SANGSA</title>
	<link rel="stylesheet" href="/resources/static/assets/css/common.css">
	<link rel="stylesheet" href="/resources/static/assets/css/header.css">
	<link rel="stylesheet" href="/resources/static/assets/css/fixed.css">

</head>
<body>
<header class="common_wrap">
	<section class="section-header">
		<div class="logo">
			<ul>
				<li>
					<a href="#">
						<img src="" alt="">로고
					</a>
				</li>
				<li>삼조상사에 오신 것을 환영합니다.</li>
				<li><a href="#">로그아웃</a></li>
			</ul>
		</div>
	</section>
</header>
<div class="mainwrap clearfix">
	<section class="section-sub-header">
		<div class="nav-bar">
			<ul>
				<li><a href="#">HOME</a></li>
				<li><a href="#">게시판</a></li>
				<li><a href="#">결재</a></li>
				<li><a href="#">메일</a></li>
				<li><a href="#">동호회</a></li>
			</ul>
		</div>
	</section>


	<section class="section-left-body">
		<div class="left-fix clearfix">
			<div class="line">
				<div class="information-box clearfix">
					<ul id="profile">
						<li id="photo"><a href="#">사원사진</a></li>
					</ul>
					<ul id="information">
						<li>사원번호</li>
						<li>이름</li>
						<li>휴대폰번호</li>
						<li>부서</li>
						<li>직책</li>
						<li>
							<button id="change-info" type="submit">수정</button>
						</li>
					</ul>
			</div>
			</div>
			<div class=

			</div>
		</div>
	</section>
</div>



</body>
<!--<footer>-->
<!--	<div class="adress">-->
<!--		<p>주소를 길게 써주도록 해요<br><br>-->
<!--			<span class="copy">COPY RIGHT @2023 SHARONITA VERSION</span>-->
<!--		</p>-->
<!--	</div>-->
<!--</footer>-->
</html>