<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.project4th.mvc.repository.BoardEmpInfoMapper">
    <select id="showAllInfo" resultType="boardEmpInfo">
        SELECT he.emp_no, he.emp_name, he.emp_email, emp_phone,hd.dept_name,hp.pos_name, he.emp_gender, he.profile
        FROM hr_employees he
        JOIN hr_department hd on hd.dept_code =he.dept_code
        JOIN hr_position hp on hp.pos_code =he.pos_code
    </select>
</mapper>
