<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.project4th.mvc.repository.BoardMapper">


    <select id="boardFindAll" resultType="board">
        SELECT
        b.board_no, b.bd_type, b.bd_title, b.bd_content,
        b.bd_date, b.emp_no, b.view_count, e.emp_name
        FROM hr_board b
        JOIN hr_employees e ON e.emp_no = b.emp_no
        <if test="boardType == 'title'">
            WHERE b.bd_title LIKE CONCAT('%', #{boardKeyWord}, '%')
        </if>
        <if test="boardType == 'boardType'">
            WHERE b.bd_type LIKE CONCAT('%', #{boardKeyWord}, '%')
        </if>
        <if test="boardType == 'boardContent'">
            WHERE b.bd_Content LIKE CONCAT('%', #{boardKeyWord}, '%')
        </if>
        ORDER BY 1 DESC
        Limit #{pageLimitNum},#{boardAmount}
    </select>

    <select id="boardFindOneByEno" resultType="board">
        SELECT
        board_no, bd_type, bd_title, bd_content,
        bd_date, emp_no
        FROM hr_board
        WHERE emp_no=#{empNo}
    </select>

    <select id="boardFindOneByBoardNo" resultType="board">
        SELECT
        board_no, bd_type, bd_title, bd_content,
        bd_date, emp_no
        FROM hr_board
        WHERE board_no=#{boardNo}
    </select>

    <select id="boardDetail" resultType="board">
        SELECT
        board_no, bd_type, bd_title, bd_content,
        bd_date, emp_no
        FROM hr_board
        WHERE board_no=#{boardNo}
    </select>

    <insert id="boardSave">
        INSERT INTO hr_board
        (bd_type, bd_title, bd_content, emp_no)
        VALUES
        (#{bdType},#{bdTitle},#{bdContent},#{empNo})
    </insert>

    <delete id="boardDelete">
        DELETE FROM hr_board
        WHERE board_no=#{boardNo}
    </delete>

    <update id="boardModify">
        UPDATE hr_board
        SET bd_type=#{bdType}, bd_title=#{bdTitle}, bd_content=#{bdContent}
        WHERE board_no=#{boardNo}
    </update>
    
    <select id="countBoardPage" resultType="int">
        SELECT COUNT(*)
        FROM hr_board
<!--        <if test="BdType == 'NOTICE'">-->
<!--        WHERE  bd_type='NOTICE'-->
<!--        </if>-->
<!--        <if test="BdType == 'FREE'">-->
<!--            WHERE bd_type='FREE'-->
<!--        </if>-->
<!--        <if test="BdType == 'NONAME'">-->
<!--            WHERE bd_type='NONAME'-->
<!--        </if>-->
    </select>
    <update id="countUp">
        UPDATE hr_board
        SET view_count=view_count+1
    </update>

</mapper>