<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.project4th.mvc.repository.BoardReplyMapper">

    <select id="findAll" resultType="boardReply">
        SELECT
        rep_no, rep_content, rep_date, board_no,emp_no
        FROM
        hr_reply
        WHERE board_no = #{boardNo}
        ORDER BY 3 DESC
        LIMIT #{page.pageLimitNum}, #{page.boardAmount}
    </select>

    <select id="findOne" resultType="boardReply">
        SELECT
        rep_no, rep_content, rep_date, board_no,emp_no
        FROM
        hr_reply
        WHERE rep_no = #{repNo}

    </select>

    <insert id="save">
        INSERT INTO hr_reply
        (rep_content, board_no, emp_no)
        VALUES
        (#{repContent},#{boardNo},#{empNo})
    </insert>

    <select id="countReply" resultType="int">
        SELECT count(*)
        FROM hr_reply
        WHERE board_no=#{boardNo}
    </select>

    <delete id="delete">
        DELETE FROM hr_reply
        WHERE rep_no=#{repNo}
        AND emp_no=#{empNo}
    </delete>

    <update id="modify">
        UPDATE hr_reply
        SET rep_content=#{repContent}
        WHERE rep_no=#{repNo}
        AND emp_No=#{empNo}
    </update>



</mapper>