<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.project4th.mvc.repository.ConfirmMapper">

    <insert id="requestConfirm">
        insert into hr_confirm (con_title, con_content, from_emp_no, to_emp_no)
        values (#{conTitle}, #{conContent}, #{fromEmpNo}, #{toEmpNo})
    </insert>

    <select id="getWaitingList" resultType="cnfm">
        select * from hr_confirm where con_status = 'N'
        <choose>
            <when test="roleCode eq 11111">
                and to_emp_no = #{empNo}
            </when>
            <otherwise>
                and from_emp_no = #{empNo}
            </otherwise>
        </choose>
    </select>

    <select id="getCheckedList" resultType="cnfm">
        select * from hr_confirm where con_status = 'Y'
        <choose>
            <when test="roleCode eq 11111">
                and to_emp_no = #{empNo}
            </when>
            <otherwise>
                and from_emp_no = #{empNo}
            </otherwise>
        </choose>
    </select>

    <update id="checkConfirm">
        update hr_confirm
        set con_status = 'Y', con_check_date = current_timestamp
        where con_no = #{conNo};
    </update>

    <update id="rejectConfirm">
        update hr_confirm
        set con_status = 'Z'
        where con_no = #{conNo};
    </update>

    <update id="modifyConfirm">
        update hr_confirm
        set con_title = #{conTitle}, con_content = #{conContent} where con_no = #{conNo}
    </update>

</mapper>