<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.project4th.mvc.repository.MailMapper">

    <insert id="sendRequest">
        INSERT INTO hr_email
        (mail_to,mail_from,mail_title,mail_content,emp_no)
        VALUES
        (#{mailTo},#{mailFrom},#{mailTitle},#{mailContent},#{empNo})
    </insert>

    <select id="getMailList" resultType="mail">
        SELECT *
        FROM hr_email
        WHERE emp_no = #{empNo}
    </select>




</mapper>