<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.project4th.mvc.repository.MailMapper">
    <!--메일 전송 요청-->
    <insert id="sendRequest">
        INSERT INTO hr_email
        (mail_to,mail_from,mail_title,mail_content)
        VALUES
        (#{mailTo},#{mailFrom},#{mailTitle},#{mailContent})
    </insert>

<!--    접속한 사용자의 사원번호에맞는 메일만 나온다-->
    <select id="getMailList" resultType="MailResponseDTO">
        SELECT
        E.mail_no,
        P.emp_email,
        P.emp_name,
        P.role_code,
        P.dept_code,
        E.mail_title,
        E.mail_status,
        E.mail_date
        FROM HR_EMAIL AS E
        JOIN HR_EMPLOYEES AS P
<!--나에게 온 메일 가져오기 -->
        <if test="s.mailType == 'mailto'">
            ON E.MAIL_TO = P.EMP_NO
            WHERE E.mail_to = #{empNo}
        </if>
<!--내가 보낸메일 가져오기-->
        <if test="s.mailType == 'mailfrom'">
            ON E.MAIL_FROM = P.EMP_NO
            WHERE E.mail_from = #{empNo}
        </if>
        ORDER BY
        E.mail_no DESC
        LIMIT #{s.pageLimitNum},#{s.mailAmount}
    </select>
<!--접속한 사용자의 번호에맞는 상태값에 따라 메일리스트가 나온다-->
    <select id="getMailListByStatus" resultType="MailResponseDTO">
        SELECT
        E.mail_no,
        P.emp_email,
        P.emp_name,
        P.role_code,
        P.dept_code,
        E.mail_title,
        E.mail_status,
        E.mail_date
        FROM HR_EMAIL AS E
        JOIN HR_EMPLOYEES AS P
        ON E.MAIL_TO = P.EMP_NO
        <choose>
            <when test="status.desc == 'YES'">
                WHERE E.mail_to = #{empNo} AND E.MAIL_STATUS = 'Y'
            </when>
            <when test="status.desc  == 'NO'">
                WHERE E.mail_to = #{empNo} AND E.MAIL_STATUS = 'N'
            </when>
        </choose>
        ORDER BY
        E.mail_no desc
        LIMIT #{s.pageLimitNum},#{s.mailAmount}
    </select>

    <!--메일번호에 맞는 메일의 객체정보전체가 나온다    -->
    <select id="getMailDetail" resultType="MailDetailResponseDTO">

        SELECT
        he1.EMP_NO AS senderEmpNo,
        he1.EMP_EMAIL AS senderEmail,
        he2.EMP_NO AS receiverEmpNo,
        he2.EMP_EMAIL AS receiverEmail,
        hp.pos_name,
        hd.DEPT_Name AS receiverDeptName,
        he.MAIL_TITLE AS mailTitle,
        he.MAIL_CONTENT AS mailContent,
        he.MAIL_DATE AS mailDate
        FROM
        HR_EMAIL he
        JOIN
        HR_EMPLOYEES he1 ON he1.EMP_NO = he.MAIL_FROM
        JOIN
        HR_EMPLOYEES he2 ON he2.EMP_NO = he.MAIL_TO
        JOIN
        hr_department hd ON hd.DEPT_CODE = he2.DEPT_CODE
        JOIN
        hr_position hp ON hp.POS_CODE = he2.POS_CODE;
    </select>


    <update id="mailViewUpdate">
        UPDATE hr_email
        SET mail_status = 'Y'
        WHERE mail_no = #{mailNo};
    </update>

    <delete id="deleteMailByNum">
        DELETE FROM hr_email
        WHERE mail_no = #{mailNo}
    </delete>

    <select id="getMailPageCount" resultType="int">
        SELECT COUNT(*)
        FROM hr_email
        <choose>
            <when test="s.mailType == 'mailto'">
                WHERE mail_to = #{empNo}
            </when>
            <when test="s.mailType == 'mailfrom'">
                WHERE mail_from = #{empNo}
            </when>
        </choose>
    </select>

    <select id="getMailPageCountByStatus" resultType="int">
        SELECT COUNT(*)
        FROM hr_email
        <choose>
            <when test="s.desc == 'YES'">
                WHERE mail_to = #{empNo} AND MAIL_STATUS = 'Y'
            </when>
            <when test="s.desc  == 'NO'">
                WHERE mail_to = #{empNo} AND MAIL_STATUS = 'N'
            </when>
        </choose>
    </select>

</mapper>