<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.project4th.mvc.repository.TestEntityMapper">
    <insert id="save">
        INSERT INTO hr_employees
        (emp_name)
        VALUES (#{empName})
    </insert>
</mapper>