<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SAMJO SANGSA</title>
	<link rel="stylesheet" href="/resources/static/assets/css/common.css">
	<link rel="stylesheet" href="/resources/static/assets/css/header.css">
	<link rel="stylesheet" href="/resources/static/assets/css/fixed.css">
	<link rel="stylesheet" href="/resources/static/assets/css/main-page.css">
</head>
<body>
<header class="common_wrap">
	<section class="section-header">
		<div class="head">
			<ul>
				<li>
					<div class="logo-img">
						<a href="#">
							<img src="/resources/static/assets/img/samjo-logo.png" alt="로고">
						</a>
					</div>
				</li>
				<li>삼조상사에 오신 것을 환영합니다.</li>
				<li><a href="#"><span id="logout-button">로그아웃</span></a></li>
			</ul>
		</div>
	</section>
	<section class="section-sub-header">
		<div class="nav-bar">
			<ul>
				<li><a href="#">HOME</a></li>
				<li><a href="#">게시판</a></li>
				<li><a href="#">결재</a></li>
				<li><a href="#">메일</a></li>
				<li><a href="#">동호회</a></li>
			</ul>
		</div>
	</section>
</header>
<section class="section-left-body">
	<div id="left-body">
		<div class="left-fix">
			<div class="line">
				<div class="information-box">
					<ul id="profile">
						<li id="photo"><a href="#">사원사진</a></li>
					</ul>
					<ul id="information">
						<li>1</li>
						<li>이름</li>
						<li>010-1234-123df</li>
						<li>부서</li>
						<li>직책</li>
						<li>
							<button id="change-info" type="submit">수정</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section-body-main">



</section>

</body>
</html>