<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--   자동 카멜케이스 스네이크 케이스 변환 설정     -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <!--  entity 클래스 별칭 설정      -->
        <typeAlias alias="board" type="com.hrms.project4th.mvc.entity.Board"/>
        <typeAlias alias="cnfm" type="com.hrms.project4th.mvc.entity.Confirm"/>
        <typeAlias alias="employees" type="com.hrms.project4th.mvc.entity.Employees"/>
        <typeAlias alias="mail" type="com.hrms.project4th.mvc.entity.Mail"/>
        <typeAlias alias="mailResponseDTO" type="com.hrms.project4th.mvc.dto.MailResponseDTO"/>
        <typeAlias alias="clubBoard" type="com.hrms.project4th.mvc.entity.ClubBoard" />
        <typeAlias alias="clubJoin" type="com.hrms.project4th.mvc.entity.EmpClub" />
    </typeAliases>

    <mappers>
        <!-- Mapper XML files -->
        <mapper resource="mappers/BoardMapper.xml"/>
        <mapper resource="mappers/ConfirmMapper.xml"/>
        <mapper resource="mappers/EmployeesMapper.xml"/>
        <mapper resource="mappers/MailMapper.xml"/>
        <mapper resource="mappers/ClubBoardMapper.xml" />
        <mapper resource="mappers/ClubJoinMapper.xml" />
    </mappers>


</configuration>