<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--   자동 카멜케이스 스네이크 케이스 변환 설정     -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <!--  entity 클래스 별칭 설정      -->
        <typeAlias alias="board" type="com.hrms.project4th.mvc.entity.Board"/>
        <typeAlias alias="boardReply" type="com.hrms.project4th.mvc.entity.BoardReply"/>
        <typeAlias alias="cnfm" type="com.hrms.project4th.mvc.entity.Confirm"/>
        <typeAlias alias="employees" type="com.hrms.project4th.mvc.entity.Employees"/>
        <typeAlias alias="mail" type="com.hrms.project4th.mvc.entity.Mail"/>
        <typeAlias alias="mailResponseDTO" type="com.hrms.project4th.mvc.dto.MailResponseDTO"/>
        <typeAlias alias="clubBoard" type="com.hrms.project4th.mvc.entity.ClubBoard" />
        <typeAlias alias="clubJoin" type="com.hrms.project4th.mvc.entity.EmpClub" />
        <typeAlias alias="clubBoardDTO" type="com.hrms.project4th.mvc.dto.responseDTO.ClubBoardResponseDTO" />
        <typeAlias alias="autoLoginDTO" type="com.hrms.project4th.mvc.dto.AutoLoginDTO" />
        <typeAlias alias="myClubBoardListDTO" type="com.hrms.project4th.mvc.dto.responseDTO.MyClubBoardResponseDTO" />
        <typeAlias alias="joinedClubListDTO" type="com.hrms.project4th.mvc.dto.responseDTO.JoinedClubListResponseDTO" />
        <typeAlias alias="clubReplyListResponseDTO" type="com.hrms.project4th.mvc.dto.responseDTO.ClubReplyListResponseDTO" />
        <typeAlias alias="getConfirmListDto" type="com.hrms.project4th.mvc.dto.responseDTO.GetConfirmListDTO"/>
        <typeAlias alias="deptBossDto" type="com.hrms.project4th.mvc.dto.responseDTO.DeptBossDTO"/>
        <typeAlias alias="employeeDetailResponseDTO" type="com.hrms.project4th.mvc.dto.responseDTO.EmployeeDetailResponseDTO"/>
        <typeAlias alias="mailDetailResponseDTO" type="com.hrms.project4th.mvc.dto.responseDTO.MailDetailResponseDTO"/>
        <typeAlias alias="testEntity" type="com.hrms.project4th.mvc.entity.TestEntity"/>
        <typeAlias alias="boardEmpInfo" type="com.hrms.project4th.mvc.entity.BoardEmpInfo"/>


    </typeAliases>

    <mappers>
        <!-- Mapper XML files -->
        <mapper resource="mappers/BoardMapper.xml"/>
        <mapper resource="mappers/BoardReplyMapper.xml"/>
        <mapper resource="mappers/ConfirmMapper.xml"/>
        <mapper resource="mappers/EmployeesMapper.xml"/>
        <mapper resource="mappers/MailMapper.xml"/>
        <mapper resource="mappers/ClubBoardMapper.xml" />
        <mapper resource="mappers/ClubJoinMapper.xml" />
        <mapper resource="mappers/ClubReplyMapper.xml" />
        <mapper resource="mappers/TestEntityMapper.xml"/>
        <mapper resource="mappers/BoardEmpInfoMapper.xml"/>

    </mappers>


</configuration>