<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<style>
        #check-currentPwd-modal {
            width: 450px;
            height: 250px;
            margin: -50% 19%;
            background: #ffff;
            position: absolute;

            border: 4px solid rgba(190, 193, 194, 0.49);
            border-right: 5px solid rgba(190, 193, 194, 0.89);
            border-bottom: 5px solid rgba(190, 193, 194, 0.49);

        }

	</style>
</head>
<body>
<div id="check-currentPwd-modal">
	<h2 class="modify-my-info-Subtitle">사용중인 비밀번호를 입력해주세요</h2>
	<div class="check-currentPwd-box">
		<label for="currentPwd-input"><h3>기준 비밀번호 : </h3></label>
		<input type="text" id="currentPwd-input" placeholder="비밀번호를 입력하세요"><br>
	</div>
</div>
</body>
</html>