<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <%@ include file="../main/include/header.jsp" %>
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/employeesList.css">

</head>
<body>
<div id="body-wrapper">
    <%@ include file="../main/include/left-banner.jsp" %>

    <section class="section-admin-page">
        <div class="emp-list">
            <div id="emp-list-header">
                <h1>직원 관리 페이지</h1>

                <div class="admin-options">
                    <div class="admin-sortBy">
                        <div><a href="#">전체조회</a></div>
                        <div><a href="#">부서별조회</a></div>
                    </div>
                </div>

                <!--목록 용 태그-->
                <div id="emp-total-list">
                    <ul>
                        <li class="empNo">사번</li>
                        <li class="empName">이름</li>
                        <li class="empBD">생년월일</li>
                        <li class="empHireD">입사일</li>
                        <li class="empMail">메일</li>
                        <li class="empGen">성별</li>
                        <li class="empSal">월급여</li>
                        <li class="empPhone">휴대폰번호</li>
                        <li class="empMyBoss">직속상사</li>
                        <li class="empDept">부서</li>
                        <li class="empPos">직책</li>
                        <li class="empModify"></li>
                    </ul>
                </div>
            </div>
            <!--목록 용 태그-->

            <!----------------------model----------------------------->
            <div class="emp-list-box">
                <ul class="admin-emp-list">
                    <li class="empNo">사번1</li>
                    <li class="empName">이름</li>
                    <li class="empBD">생년월일</li>
                    <li class="empHireD">입사일</li>
                    <li class="empMail">메일</li>
                    <li class="empGen">성별</li>
                    <li class="empSal">월급여</li>
                    <li class="empPhone">휴대폰번호</li>
                    <li class="empMyBoss">직속상사</li>
                    <li class="empDept">부서</li>
                    <li class="empPos">직책</li>
                    <li>
                        <a class="modifyEmp" href="#">수정</a>
                    </li>
                </ul>
                <ul class="admin-emp-list">
                    <li class="empNo">사번2</li>
                    <li class="empName">이름</li>
                    <li class="empBD">생년월일</li>
                    <li class="empHireD">입사일</li>
                    <li class="empMail">메일</li>
                    <li class="empGen">성별</li>
                    <li class="empSal">월급여</li>
                    <li class="empPhone">휴대폰번호</li>
                    <li class="empMyBoss">직속상사</li>
                    <li class="empDept">부서</li>
                    <li class="empPos">직책</li>
                    <li>
                        <a class="modifyEmp" href="#">수정</a>
                    </li>
                </ul>




            </div>
        </div>
    </section>
</div>
</body>
</html>